* {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.Card {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.Card img {
  border-radius: 10px 10px 0 0;
}

.Card__body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.Card__body-subtitle {
  font-size: small;
  letter-spacing: 5px;
}

.Card__body-title {
  font-family: "Fraunces";
  line-height: 1.1;
}

.Card__body-description {
  line-height: 1.6;
  font-size: 15.5px;
}

.Card__body-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.Card__body-new-price {
  font-family: "Fraunces";
  font-size: 35px;
  color: hsl(158, 36%, 37%);
}

@media only screen and (min-width: 1440px) {
  /* For desktop: */

  .Card {
    margin: 0;
    width: 700px;
    height: 525px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Card img {
    border-radius: 10px 0 0 10px;
  }

  .Card__body {
    width: 50%;
    height: 100%;
    gap: 25px;
  }

  .Card__body-title {
    font-size: 40px;
  }

  .Card__body-description {
    font-size: 18px;
  }

  picture {
    border-radius: "10px";
  }

  .Card__body-new-price {
    font-size: 40px;
  }
}
